* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.top {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.upper-middle {
  color: #e5e7eb;
  margin: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.upper-middle button {
  width: 100px;
  padding: 5px;
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  color: #f9faf8;
}

.awesome-text {
  font-size: 48px;
  font-weight: 700;
}

.upper-middle .image {
  padding: 100px;
  background-color: grey;
  text-wrap: nowrap;
  display: flex;
  flex-shrink: 1;
}

.middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.logo,
nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 0;
}

.random-info {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 64px;
}

.info-boxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #1f2937;
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  text-wrap: wrap;
}

.box-one,
.box-two,
.box-three,
.box-four {
  border: 4.5px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.first-box,
.second-box,
.third-box,
.fourth-box {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 8px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
