* {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* outline: 1px solid red; */
  /* margin: 10px; */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.top {
  background-color: #1f2937;
  padding: 1em;
}

.upper-middle {
  color: #e5e7eb;
  margin: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-middle button {
  width: 100px;
  align-self: center;
}

.awesome-text {
  font-size: 48px;
  font-weight: 700;
}

.middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container {
  margin: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.logo,
nav a {
  text-decoration: none;
  color: #e5e7eb;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
